@font-face {
    font-family: "Sketchy";
    src: url(fonts/SKETCHY.ttf);
}

#blueprintFrame {
    background-image: none;
}

#logoPgPrinc {
    display: flex;
    background-image: url(assets/signature.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 24ex;
    filter: drop-shadow(0 0 5px black);
    margin-top: -2ex;
    /* margin: auto; */
    /* margin-right: 20px; */
}

.fichaDeDatos {
    /* height: 20vh; */
    text-align: center;
    width: 100%;
    margin-top: -1vh;
    background-image: url(assets/dots.png);
    background-size: 25px;
}

.descripcion{
    margin: auto; 
    
    text-align: center;
    display: inline-block;
    font-family: Sketchy;
    font-size: 35px;
}

.estado {
    /* width: 250px; */
    /* padding-left: 25px; */
    padding-top:  12px;
}

.indEdo {
    /* padding-top: 3px; */
    display: inline-block;
    background-size: cover;
    width: 30px;
    height: 30px;
}

.edoImplementado {
    background-image: url(assets/implementado.png);
}

.edoInDev {
    background-image: url(assets/inDev.png);
}

.edoConcept {
    background-image: url(assets/concepto.png);
}

.edoLabel {
    margin: auto; 
    display: inline-block;
    font-family: Sketchy;
    font-size: 35px;
}
.edoLabelDesc{
    margin-left: 30px;
}

@media (max-width:660px) {
    #logoPgPrinc {
        margin-top: 0;
    }
}