
#Titulo{
    color: white;
    text-align: center;
    font-size: 5vh;
}

#doodle{
    width: 70%;
    margin-left: 15%;
}

@media(max-width:406px){
    #doodle{
        width: 90%;
        margin-left: 5%;
    }
}